VITE_API_BASE_URL=http://localhost:3300/api
VITE_WS_URL=http://localhost:3300
VITE_AUTH_CLIENT_CODE=web-console
VITE_AUTH_CLIENT_SECRET=rbac-web-client-secret
VITE_AUTH_WEB_PROTOCOL=http
VITE_AUTH_WEB_HOST=localhost
VITE_AUTH_WEB_PORT=5173
