VITE_APP_TITLE='RBAC Mobile Console'
VITE_APP_PORT=9000
VITE_UNI_APPID='__UNI__D1E5001'
VITE_WX_APPID='replace-with-wechat-appid'
VITE_APP_PUBLIC_BASE=/
VITE_SERVER_BASEURL='http://localhost:3300/api'
VITE_SERVER_BASEURL_SECONDARY='http://localhost:3300/api'
VITE_AUTH_CLIENT_CODE='uni-wechat-miniapp'
VITE_AUTH_CLIENT_SECRET='rbac-uni-miniapp-secret'
VITE_APP_PROXY_ENABLE=false
VITE_APP_PROXY_PREFIX='/fg-api'
VITE_AUTH_MODE='double'
VITE_COPY_NATIVE_RES_ENABLE=false
